<html>
	<head>
		<title>tPostman - {{ auth.screen_name }}</title>
	</head>
	<body>
		<script type="text/javascript">
			function opensub(ev)
			{
				win = window.open("/opentweet", "opentweet", "scrollbars=no,menubar=no,toolbar=no,location=no,status=no,directories=no");
				win.moveTo(0, screen.availHeight - 20);
				win.resizeTo(600,20);
			}
		</script>
		<a href="/logout">sign out</a>
		<a href="javascript:opensub(event)" >open tweet window</a>
		<!--
		<form action="/tweet" id='tweetform' method='GET'>
			<input type="hidden" id="tweetarea" name="tweet" value="" />
		</form>
		<textarea id="tweetorg"></textarea>
		<input type="button" value="tweet!" onclick="tweet(event)" />
		-->
	</body>
</html>
