<html>
	<head>
		<title>{{ auth.screen_name }}</title>
		<meta http-equiv="Pragma" content="no-cache" />
		<meta http-equiv="Cache-Control" content="no-cache" />
		<script type="text/javascript" src="/resources/des.js" ></script>
		<script type="text/javascript" src="/resources/base64.js" ></script>
		<script type="text/javascript" src="/resources/jquery.js" ></script>
		<script type="text/javascript" src="/resources/jquery.cookie.js" ></script>
		<script type="text/javascript" src="/resources/jquery.timers.js" ></script>
		<script type="text/javascript" src="/resources/tweetwin.js"></script>
		<link rel="stylesheet" type="text/css" href="/resources/style.css" />
	</head>
	<body class="tweetwin">
		<div class="tweetarea">
			<textarea id="tweetorg" class="tweettextarea"></textarea>
			<span id="tweetlen" class="normal">0</span>
			<span id="loadingimg"></span>
		</div>
	</body>
</html>
